name: CI/CD


on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  test-build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4


      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      # Cache pip packages
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dev deps
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r requirements.txt          
          pip install pytest wheel twine build


      - name: Run tests
        run: pytest -q

      - name: Install Build Tools
        run: |
          pip install wheel databricks-cli

      - name: Build the wheel
        run: |
          rm -rf dist/
          python setup.py bdist_wheel  # generates dist/*.whl

      - name: Upload Wheel to DBFS
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
        run: |
          databricks fs cp dist/*.whl dbfs:/FileStore/libs/ --overwrite